.build
.cache
.DS_Store
.env
.eslintcache
.fusebox/
.idea/
.next
.node_repl_history
.nuxt
.npm
.serverless/
.stylelintcache
.svelte-kit
.tern-port
.vscode/
.vuepress/dist
*.iml
*.log
*.sublime-*
*.sublime-project
*.sublime-workspace
*.swp
*.temp
*.tmp
*.tgz
*.tsbuildinfo
build/
coverage/
dist
dist/
dynamodb/
logs
node_modules/
npm-debug.log*
public
venv/
yarn-debug.log*
yarn-error.log*
yarn.lock